nav {
    font-family: $henny;
    color: $yellow;
    font-size: 1.2rem;


}

nav ul li a {
    display: block;
}

nav ul li a:hover {
    color: $yellow;
}

footer {
    width: 100vw;
    background-color: $Black;
    text-align: center;
    margin-top: 14px;
    color: $white;
    padding: 20px;
    font-family: $roboto;
    font-size: 1.1rem;


}